{% extends 'base.html' %}
{% block css %}
	<style>
	.center {
	padding: 40px 0;
	text-align: center;
	}
	</style>
{% endblock %}
{% block body %}
	<div class="center">
		<h1>Comment Bot</h1>
		<h6>{{context.msg}}</h6>
		<form method="post" action="/">
			<input type="text" name="site_url">
		</form>
		<br>
		{% if context.keywords %}
		<p>from {{context.url}}</p><br>
		{% for keyword in context.keywords %}
		<p>{{keyword}}</p>
		{% endfor %}
		{% endif %}
	</div>
{% endblock %}